:root {
  /* HEX */
  --color-background: #F4F5F9;
  --color-black-blue: #42567A;
  --color-blue: #3877EE;
  --color-fuschia: #EF5DA8;

  /* RGB */
  --color-background-rgb: 244 245 249;
  --color-black-blue-rgb: 66, 86, 122;
  --color-blue-rgb: 56, 119, 238;
  --color-fuschia-rgb: 239, 93, 168;
}