.navigation {
  display: flex;
  gap: 10px;
}

.dot {
  all: unset;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--color-black-blue);
  transition: 0.2s;
  opacity: 0.4;

  &Selected {
    cursor: default;
    opacity: 1;
  }
}