.navigation {
  display: flex;
}

.button {
  all: unset;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
  padding: 5px;

  .dot{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--color-black-blue);
  }

  &Selected {
    cursor: default;
    opacity: 1;
  }
}